.App {
  padding: 20px;
  padding-top: 25px;
  margin-top: 7rem;
  float: right;
  width: 50rem;
  box-shadow: 2px 4px 15px 1px grey;
  border-radius: 10px;
}
.btn-info {
  background-color: #FF4848;
  border-color: #ea7773;
}

h1 {
  font-size: 27px;
}
.icons {
  margin: 15px;
  font-size: 20px;
  padding-bottom:20px;
}
.article {
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size:18px;
  /* line-height: 31px; */
}
